[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
v = {editable = true,version = "*"}

[packages]
django = "*"
pillow = "*"
django-tinymce = "*"
django-crispy-forms = "*"
celery = "*"

[requires]
python_version = "3.6"
