{% extends "../base.html" %}

{% load static from staticfiles %}

{% block content %}
<div class="row text-center">
    <div class="col-lg-12">
        <form action="{% url context_url username=request.user.username slug=context_project_slug_id  pk=context_task_id %}" method="post">
                {% csrf_token %}
                <h3>{{ question }} '{{ context }}'</h3>
                <input type="submit" value="Confirm", name="confirm_delete_button", class='btn btn-danger'>
                <input type="submit" value="Cancel", name='cancel_button', class='btn btn-secondary'>
                <br><br>
        </form>
    </div>
</div>
{% endblock content %}