{% extends "../base.html" %}

{% load static from staticfiles %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="user-data-section">
            <div class="user-photo text-center">
                <img
                    class="img-fluid img-thumbnail"
                    src="{% static 'img/user_image.png' %}"
                    alt="User Image"
                    width="200"
                    height="200">
            </div>
            <div class="text-center personal-info">
                <p><b>{{ user.first_name }}&nbsp;{{ user.last_name }}</b></p>
                <p>{{ user.get_position_display }}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                {% include "components/additional_nav.html" %}
            </div>
        </div>

        {% url 'user_home' request.user.username as main %}{% if request.path == main and not request.GET.tip %}
            {% if projects %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row section-title">
                            <div class="col-lg-4">
                                <h3>{{ title }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 card-container">
                                {% for project in projects %}
                                    {% with view_detail=1 %}
                                        {% include '../components/project_card.html' %}
                                    {% endwith %}
                                {% endfor %}
                            </div>
                            {% if has_other %}
                            <div class="col-lg-12 text-center">
                                <p>
                                    <a
                                        class="btn btn-light"
                                        role="button"
                                        href="{% url 'user_home' username=request.user.username %}?tip=projects">
                                        <b>View All My Project</b>
                                    </a>
                                </p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- My Team Section Start -->
                {% if user.is_admin and developers%}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row section-title">
                            <div class="col-lg-4">
                                <h3>Team</h3>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Username</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for developer in developers %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ developer.first_name }}</td>
                                            <td>{{ developer.last_name }}</td>
                                            <td>{{ developer.username }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- My Team Section End -->
            {% elif not ptoject and user.is_admin %}
                <div class="row">
                    <div class="col-lg-12">
                        <p style="margin-top: 2em">
                            You don`t have projects.&nbsp;
                            <a href="{% url 'create_project' %}">Create your first project</a>
                        </p>
                    </div>
                </div>
            {% elif not project and user.is_developer %}
                <div class="row">
                    <div class="col-lg-12">
                        <p style="margin-top: 2em">
                            You don`t have projects. Wait for admin add you in one of the existing project.
                        </p>
                    </div>
                </div>
            {% endif %}
        {% elif request.GET.tip == 'projects' %}
            <!-- Projects Tip Start-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row section-title">
                        <div class="col-lg-4">
                            <h3>{{ title }}</h3>
                        </div>
                        {% if user.is_admin %}
                        <div class="col-lg-8">
                            <a
                                href="{% url 'create_project' %}"
                                role="button"
                                class="btn btn-success left-card-btn">
                                <span><b>Add New</b></span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12 card-container">
                            {% for project in projects %}
                                {% with view_detail=1  %}
                                    {% include '../components/project_card.html' %}
                                {% endwith %}
                            {% endfor %}
                        </div>
                        <div class="col-lg-12 justify-content-center">
                        {% with object_list=projects %}
                            {% include "components/pagination.html" %}
                        {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Projects Tip end-->
        {% elif request.GET.tip == 'tasks' and request.user.is_developer %}
            <!-- Tasks Tip Start-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row section-title">
                        <div class="col-lg-4">
                            <h3>{{ title }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 card-container">
                            {% for task in tasks %}
                                {% with slug=task.project.slug_id %}
                                    {% include '../components/task_card.html' %}
                                {% endwith %}
                            {% endfor %}
                        </div>
                        <div class="col-lg-12 justify-content-center">
                        {% with object_list=tasks %}
                            {% include "components/pagination.html" %}
                        {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tasks Tip end-->
        {% endif %}
    </div>
</div>
{% endblock content %}