{% extends "../base.html" %}

{% load static from staticfiles %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="user-data-section">
            <div class="user-photo text-center">
                <img
                    class="img-fluid img-thumbnail"
                    src="{% static 'img/user_image.png' %}"
                    alt="User Image"
                    width="200"
                    height="200">
            </div>
            <div class="text-center personal-info">
                <p><b>{{ user.first_name }}&nbsp;{{ user.last_name }}</b></p>
                <p>{{ user.get_position_display }}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <!-- My Projects Section Start -->
        <div class="row">
            <div class="col-lg-12">
                {% include "components/additional_nav.html" %}
                <div class="row section-title">
                    <div class="col-lg-4">
                        <p>Recently projects</p>
                    </div>
                    {% if user.is_admin %}
                    <div class="col-lg-8">
                        <a
                            href="{% url 'create_project' %}"
                            role="button"
                            class="btn btn-success left-card-btn">
                            <span><b>Add New</b></span>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-lg-12 card-container">
                        {% if not projects and user.is_developer %}
                            The admin has not added you to any project.
                            You can see avialable <a href="{% url 'project_list' %}">projects</a>.
                        {% endif %}
                        {% for project in projects %}
                        <div class="card project-view">
                            <div class="card-header">
                                {{ project.slug_id }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ project.name }}</h5>
                                <p class="card-text">{{ project.created_at }}</p>
                                <p class="card-text">{{ project.description | safe | truncatewords:"50"|linebreaks }}</p>
                                <a
                                    href="{% url 'project_detail' slug=project.slug_id %}"
                                    class="btn btn-primary">
                                    View Detail
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if has_other %}
                    <div class="col-lg-12 text-center">
                        <p>
                            <a
                                class="btn btn-light"
                                role="button"
                                href="{% url 'project_list' %}">
                                <b>View All My Project</b>
                            </a>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- My Projects Section End -->
        <!-- My Team Section Start -->
        {% if user.is_admin %}
        <div class="row">
            <div class="col-lg-12">
                <div class="row section-title">
                    <div class="col-lg-4">
                        <h3>Team</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for developer in developers %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ developer.first_name }}</td>
                                    <td>{{ developer.last_name }}</td>
                                    <td>{{ developer.username }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- My Team Section End -->
    </div>
</div>
{% endblock content %}