{% extends "../base.html" %}

{% load static from staticfiles %}

{% block content %}
<!-- My Projects Section Start -->
<div class="row text-center">
    <div class="col-lg-12">
        <h1>{{ object.name }}&nbsp;Overview</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 card-container">

        <div class="card project-view">
            <div class="card-header">
                General
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ object.name }}</h5>
                <p class="card-text">{{ object.description | safe }}</p>
            </div>
        </div>
    </div>
</div>
<!-- My Projects Section End -->
<div class="row">
    <div class="col-lg-12 card-container">

        <div class="card project-view">
            <div class="card-header">
                <span class="header-title">Tasks</span>
                {% if user.is_admin %}
                <a
                    href="{% url 'create_task' username=request.user.username slug=object.slug_id %}"
                    role="button"
                    class="btn btn-success left-card-btn">
                    <span><b>Add</b></span>
                </a>
                {% endif %}
            </div>
            <div class="card-body">
                {% if tasks %}
                {% for task in tasks %}
                <div class="card bg-light task">
                    <div class="card-header">
                        <span class="header-title">
                            {{ task.topic }}&nbsp;{{ task.get_task_type_display }}
                        <span>
                        {% if user.is_admin %}
                        <a
                            href="{% url 'delete_task' username=request.user.username slug=object.slug_id pk=task.id %}"
                            role="button"
                            class="btn btn-danger left-card-btn">
                            <span><b>Delete</b></span>
                        </a>
                        {% endif %}
                        <a
                            href="{% url 'edit_task' username=request.user.username slug=object.slug_id pk=task.id %}"
                            role="button"
                            class="btn btn-info left-card-btn">
                            <span><b>Edit</b></span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ task.get_priority_display }}</h5>
                        <p class="card-text">{{ task.description | safe | truncatewords:"50"|linebreaks }}</p>
                            <a
                            href="{% url 'detail_task' username=request.user.username slug=object.slug_id pk=task.id %}"
                            class="btn btn-primary">
                            View Detail
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    {% if user.is_admin %}
                        <h3>You don`t add tasks in this Project</h3>
                    {% elif user.is_developer%}
                        <h3>Admin did not add tasks to the project yet</h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if user.is_admin %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <span class="header-title">Team</span>
                <a
                    href="{% url 'add_developer_in_project' username=request.user.username slug=object.slug_id %}"
                    role="button"
                    class="btn btn-success left-card-btn">
                    <span><b>Add</b></span>
                </a>
            </div>
            <div class="card-body">
                {% if object.developers.all %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for developer in object.developers.all %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ developer.first_name }}</td>
                                <td>{{ developer.last_name }}</td>
                                <td>{{ developer.username }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h3>You don`t add developers in this Project</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}