{% extends "../base.html" %}

{% load static from staticfiles %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="row section-title">
            <div class="col-lg-4">
                <h3>Projects</h3>
            </div>
        </div>
        <hr>
        {% for project in projects %}
        <div class="row">
            <div class="col-lg-12 card-container">
                <div class="card project-view">
                    <div class="card-header">
                        {{ project.slug_id }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <p class="card-text">{{ project.description | safe | truncatewords:"50"|linebreaks }}</p>
                        <p><b>{{ project.owner.first_name }}&nbsp;{{ project.owner.last_name }}</b></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% with object_list=projects %}
    {% include "components/pagination.html" %}
{% endwith %}
<!-- My Projects Section End -->
{% endblock content %}