{% extends "../base.html" %}

{% load static from staticfiles %}

{% block content %}
<!-- Task Detail Section Start -->
<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <div class="alert alert-danger" id="ajax-error">
            {% if user.is_admin %}
            <span>Set Error!</span>
            {% elif user.is_developer%}
            <span>Get Error!</span>
            {% endif %}
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-lg-12">
        <h1>{{ task.topic }}&nbsp;Overview</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 card-container">

        <div class="card project-view">
            <div class="card-header">
                <span class="header-title">General</span>
                {% if not task.status == 3 %}
                    {% if user.is_admin %}
                        <a
                            href="{% url 'delete_task' username=request.user.username slug=project_slug_id pk=task.id %}"
                            role="button"
                            class="btn btn-danger left-card-btn">
                            <span><b>Delete</b></span>
                        </a>
                        {% csrf_token %}
                        <button
                            type="button"
                            class="btn btn-success left-card-btn"
                            data-toggle="modal"
                            data-target="#developersModalCenter">
                            <span><b>
                                {% if not task.performer %}
                                Set Performer
                                {% elif task.performer %}
                                Change Performer
                                {% endif %}
                            </b></span>
                        </button>
                    {% elif user.is_developer %}
                        {% if not task.performer %}
                            {% csrf_token %}
                            <input
                                class="btn btn-success set-dev-task-btn left-card-btn"
                                type="submit"
                                value="Get"
                                style="font-weight: bold;"
                                data-developer-id="{{ developer_id }}"
                                data-task-id="{{ task.id }}"
                                data-url="{{ update_url }}">
                        {% endif %}
                        {% if task.performer.user == request.user %}
                            <a
                                href="{% url 'time_journal' username=request.user.username slug=project_slug_id pk=task.id %}"
                                role="button"
                                class="btn btn-warning left-card-btn">
                                <span><b>Start Work</b></span>
                            </a>
                        {% endif %}
                        <a
                            href="{% url 'edit_task' username=request.user.username slug=project_slug_id pk=task.id %}"
                            role="button"
                            class="btn btn-info left-card-btn">
                            <span><b>Edit</b></span>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="card-body">
                <p class="card-text">
                    <b>Type:</b>&nbsp;
                    {{ task.get_task_type_display }}
                </p>
                <p class="card-text">
                    <b>Priority:</b>&nbsp;
                    {{ task.get_priority_display }}
                </p>
                <p class="card-text">
                    <b>Status:</b>&nbsp;
                    {{ task.get_status_display }}
                </p>
                {% if task.performer.user == request.user and task.status == 3 %}
                <p class="card-text">
                    <b>Spent Time:</b>&nbsp;
                    {{ spent_time }}&nbsp;hours
                </p>
                {% endif %}
                <p class="card-text">
                    <b>Creator:</b>&nbsp;
                    {{ task.creator.first_name }}
                    {{ task.creator.last_name }}
                </p>
                <p class="card-text">
                    <b>Performer:</b>&nbsp;
                    {% if task.performer %}
                        {{ task.performer.user.first_name }}
                        {{ task.performer.user.last_name }}
                    {% else %}
                        Task is Free
                    {% endif %}
                </p>
                <p class="card-text">
                    <b>Description:</b>&nbsp;
                    {{ task.description | safe }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 card-container">

        <div class="card project-view">
            <div class="card-header">
                <span class="header-title">Comments</span>
                <a
                    href="{% url 'add_comment' username=request.user.username slug=project_slug_id pk=task.id %}"
                    role="button"
                    class="btn btn-success left-card-btn">
                    <span><b>Add</b></span>
                </a>
            </div>
            <div class="card-body">
                {% if comments %}
                {% for comment in comments %}

                <div class="card bg-light task">
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.owner }}&nbsp;{{ comment.date_of_add }}</h5>
                        <p class="card-text">{{ comment.comment }}</p>
                    </div>
                </div>

                {% endfor %}
                {% else %}
                <h3>Comments have not been added yet</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if user.is_admin %}
    <!-- Modal -->
<div
    class="modal fade"
    id="developersModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="developersModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="developersModalLongTitle">Available Developers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group-flush">
                    {% for developer in developers %}
                        {% csrf_token %}
                        <button
                            class="list-group-item set-dev-task-btn list-group-item-action"
                            data-developer-id="{{ developer.id }}"
                            data-task-id="{{ task.id }}">
                            {{ developer.user.first_name }}&nbsp;{{ developer.user.last_name }}
                        </button>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer text-muted">
                <span>Choose one developer</span>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}