<!-- Additional Navigation Menu for Home page -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a
            class="nav-link {% url 'user_home' request.user.username as main %}{% if request.path == main and not request.GET.tip %}active{% endif %}"
            href="{% url 'user_home' username=request.user.username %}">
            Overview
        </a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link {% url 'user_home' request.user.username as main %}{% if request.path == main and request.GET.tip == 'projects' %}active{% endif %}"
            href="{% url 'user_home' username=request.user.username %}?tip=projects">
            Projects
        </a>
    </li>
    {% if user.is_developer %}
    <li class="nav-item">
        <a
            class="nav-link {% url 'user_home' request.user.username as main %}{% if request.path == main and request.GET.tip == 'tasks' %}active{% endif %}"
            href="{% url 'user_home' username=request.user.username %}?tip=tasks">
            Tasks
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a
            class="nav-link {% url 'user_home' request.user.username as main %}{% if request.path == main and request.GET.tip == 'time_managment' %}active{% endif %}"
            href="{% url 'user_home' username=request.user.username %}?tip=time_managment">
            Time Managment
        </a>
    </li>
</ul>
<!-- Additional Navigation Menu for Home page -->