<!-- Task info card -->
<div class="card bg-light task">
    <div class="card-header">
        <span class="header-title">
            {{ task.topic }}&nbsp;{{ task.get_task_type_display }}
        <span>
        {% if not task.status == 3 %}
            {% if control %}
                {% if user.is_admin %}
                <a
                    href="{% url 'delete_task' username=request.user.username slug=slug pk=task.id %}"
                    role="button"
                    class="btn btn-danger left-card-btn">
                    <span><b>Delete</b></span>
                </a>
                {% endif %}
                <a
                    href="{% url 'edit_task' username=request.user.username slug=slug pk=task.id %}"
                    role="button"
                    class="btn btn-info left-card-btn">
                    <span><b>Edit</b></span>
                </a>
            {% endif %}
            {% if task.performer.user == user and user.is_developer %}
                {% if task.timejournal_set.all.exists%}
                <a
                    href="{% url 'finish_task' username=request.user.username slug=slug pk=task.id %}"
                    role="button"
                    class='btn btn-success left-card-btn'>
                    <span><b>Finish</b></span>
                </a>
                {% endif %}
                <a
                    href="{% url 'time_logging_add' username=request.user.username slug=slug pk=task.id %}"
                    role="button"
                    class="btn btn-warning left-card-btn">
                    <span><b>
                        {% if not task.timejournal_set.all.exists%}
                        Work
                        {% else %}
                        Continue
                        {% endif %}
                    </b></span>
                </a>
            {% endif %}
        {% else %}
            {% if user.is_admin and control %}
            <a
                href="{% url 'delete_task' username=request.user.username slug=slug pk=task.id %}"
                role="button"
                class="btn btn-danger left-card-btn">
                <span><b>Delete</b></span>
            </a>
            {% endif %}
            <span
                class="text-muted">
                &nbsp;(Task is Completed)
            </span>
        {% endif %}

    </div>
    <div class="card-body">
        <h5 class="card-title">{{ task.get_priority_display }}</h5>
        <p class="card-text">{{ task.description|safe|truncatewords:50|linebreaks }}</p>
            <a
            href="{% url 'detail_task' username=request.user.username slug=slug pk=task.id %}"
            class="btn btn-primary">
            View Detail
        </a>
    </div>
</div>
<!-- Task info card -->