{% extends "../base.html" %}

{% load static from staticfiles %}

<!-- Start Content block -->
{% block content %}
<!-- Confirm delete form -->
<div class="row text-center">
    <div class="col-lg-12">
        <form
            action="{% if not view.kwargs.pk %}{% url context_url request.user.username view.kwargs.slug %}{% else %}{% url context_url request.user.username view.kwargs.slug view.kwargs.pk %}{% endif %}"
            method="post">
                {% csrf_token %}
                <h3>{{ question }} '{{ context }}'</h3>
                <input type="submit" value="Confirm", name="confirm_delete_button", class='btn btn-danger'>
                <input type="submit" value="Cancel", name='cancel_button', class='btn btn-secondary'>
                <br><br>
        </form>
    </div>
</div>
<!-- Confirm delete form -->
{% endblock content %}
<!-- End Content block -->